name: Nextfish Tuning
on:
  workflow_dispatch:
    inputs:
      games:
        description: 'Number of games'
        required: true
        default: '100'
      tc:
        description: 'Time Control (e.g. 10+0.1)'
        required: true
        default: '2+0.05'

jobs:
  tune:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y g++ make qtbase5-dev qt5-qmake
        # Download cutechess-cli
        wget https://github.com/cutechess/cutechess/releases/download/1.3.1/cutechess-cli-1.3.1-linux64.tar.gz
        tar -xvf cutechess-cli-1.3.1-linux64.tar.gz
        chmod +x cutechess-cli

    - name: Build Nextfish
      run: |
        cd src
        make -j2 build ARCH=x86-64-modern COMP=gcc
        mv stockfish ../nextfish

    - name: Run Tournament
      run: |
        ./cutechess-cli -engine name=Nextfish cmd=./nextfish \
                        -engine name=Stockfish_Baseline cmd=./nextfish option.EvalFile=none \
                        -each proto=uci tc=${{ github.event.inputs.tc }} \
                        -games 2 -rounds $(( ${{ github.event.inputs.games }} / 2 )) \
                        -repeat -concurrency 2 \
                        -pgnout results.pgn
      
    - name: Upload results
      uses: actions/upload-artifact@v3
      with:
        name: tournament-results
        path: |
          results.pgn
